<section id="a_brown_girl_dead" class="CounteeCullen">
   
   <h2><a id="">"A <span class="theme" title="black">Brown</span> Girl Dead"</a></h2>
   
   <p class="stanza">
      With two <span class="theme" title="white">white</span> roses on <span class="POV" title="thirdPerson">her</span>
      <span title="A">breasts</span>,<br/>
      
      <span class="theme" title="white">White</span> candles at head and <span title="B">feet</span>,<br/>
      
      Dark <span class="theme" title="religion">Madonna</span>
       of the grave she <span title="A">rests</span>;<br/>
      
      Lord Death has found her <span title="B">sweet</span>.<br/>
      </p>
   
   <p class="stanza">
      
      <span class="theme" title="female">Her mother</span> pawned her wedding <span title="C">ring</span>
      <br/>
      To lay her out in <span title="D">white</span>;<br/>
      
      <span class="theme" title="love">She’d be so proud</span> she’d dance and <span title="C">sing</span>
      <br/>
      To see herself <span title="D">to-night</span>.<br/>
      </p>
   
   <div class="author">-Countée Cullen</div>
   </section>