<h2><a id="">Georgia Dusk</a></h2>
<p class="stanza">
   The sky, lazily disdaining to <span title="A">pursue</span>
   <br/>
   The setting sun, too indolent to <span title="B">hold</span>
   <br/>
   A lengthened tournament for flashing <span title="B">gold</span>,<br/>
   Passively darkens for night’s <span title="A">barbecue</span>,<br/>
   </p>
<p class="stanza">
   A feast of moon and men and barking <span title="C">hounds</span>,<br/>
   An orgy for some genius of the <span title="D">South</span>
   <br/>
   With blood-hot eyes and <span class="theme" title="cane">cane</span>-lipped scented <span title="D">mouth</span>,<br/>
   Surprised in making folk-songs from soul <span title="C">sounds</span>.<br/>
   </p>
<p class="stanza">
   
   <span class="litDevice" title="personification">The sawmill blows its whistle</span>, buzz-saws <span title="E">stop</span>,<br/>
   And silence breaks the bud of knoll and <span title="F">hill</span>,<br/>
   Soft settling pollen where ploughed lands <span title="F">fulfill</span>
   <br/>
   Their early promise of a bumper <span title="E">crop</span>.<br/>
   </p>
<p class="stanza">
   Smoke from the pyramidal sawdust <span title="G">pile</span>
   <br/>
   Curls up, blue ghosts of trees, tarrying <span title="H">low</span>
   <br/>
   Where only chips and stumps are left to <span title="H">show</span>
   <br/>
   The solid proof of former <span title="G">domicile</span>.<br/>
   </p>
<p class="stanza">
   Meanwhile, the men, with vestiges of <span title="I">pomp</span>,<br/>
   Race memories of king and <span title="J">caravan</span>,<br/>
   High-priests, an ostrich, and a <span title="J">juju-man</span>,<br/>
   Go singing through the footpaths of the <span title="I">swamp</span>.<br/>
   </p>
<p class="stanza">
   Their voices rise . . . the <span class="litDevice" title="metaphor">pine trees are <span title="K">guitars</span>
      </span>,<br/>
   Strumming, <span class="litDevice" title="simile">pine-needles fall like sheets of <span title="L">rain</span>
      </span>
   . . .<br/>
   Their voices rise . . . the chorus of the <span title="L">
      <span class="theme" title="cane">cane</span>
      </span>
   <br/>#
   Is carolling a vesper to the <span title="K">stars</span>.<br/>
   </p>
<p class="stanza">
   O singers, resinous and soft your <span title="M">songs</span>
   <br/>
   Above the sacred whisper of the <span title="N">pines</span>,<br/>
   Give virgin lips to cornfield <span title="N">concubines</span>,<br/>
   Bring dreams of Christ to dusky <span class="theme" title="cane">cane</span>-lipped <span title="M">throngs</span>.<br/>
   </p>
<div class="author">-Jean Toomer</div>
