<h2><a id="">"SHE OF THE DANCING FEET SINGS"</a></h2>

<p class="stanza">
   And what would I do in <span class="Religion" title="">heaven,</span> pray,<br/>
   Me with my dancing feet,<br/>
   And <span class="Simile" title="">limbs like apple boughs that sway</span><br/>
   When the gusty rain winds beat?<br/>
   </p>

<p class="stanza">
   And how would I thrive in a perfect place<br/>
   <span class="Religion" title="">Where dancing would be sin,</span><br/>
   With not a man to love my face,<br/>
   Nor an arm to hold me in?<br/>
   </p>

<p class="stanza">
   <span class="Religion" title="">The seraphs and the cherubim</span><br/>
   Would be too proud to bend<br/>
   To sing the faery tunes that brim<br/>
   My heart from end to end.<br/>
   </p>

<p class="stanza">
   The wistful <span class="Religion" title="">angels</span> down in <span class="Religion" title="">hell</span><br/>
   Will smile to see my face,<br/>
   And understand, because they fell<br/>
   From that all-perfect place.<br/>
   </p>



<div class="author">-Countée Cullen</div>
