<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">Tableau</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Locked arm in arm they cross the <span title="a">way</span>,<br/>
   The black boy and the <span title="b">white</span>,<br/>
   The golden splendor of the <span title="a">day</span>
   <br/>
   The sable pride of <span title="b">night</span>.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   From lowered blinds the dark folk <span title="c">stare</span>
   <br/>
   And here the fair folk <span title="d">talk</span>,<br/>
   Indignant that these two should <span title="c">dare</span>
   <br/>
   In unison to <span title="d">walk</span>.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Oblivious to look and <span title="e">word</span>
   <br/>
   They pass, and see no <span title="f">wonder</span>
   <br/>
   That <span class="litDevice" title="simile">lightning brilliant as a <span title="e">sword</span>
      </span>
   <br/>
   Should blaze the path of <span title="f">thunder</span>.<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Countée Cullen</div>
