<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">THE NEGRO SPEAKS OF RIVERS</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I’ve known rivers . . .<br/>
   I’ve known rivers ancient as the world and older than the flow<br/>
   of human blood in human veins.<br/>
   My soul has grown deep like the rivers.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I bathed in the Euphrates when dawns were young,<br/>
   I built my hut near the Congo and it lulled me to sleep,<br/>
   I looked upon the Nile and raised the pyramids above it.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I heard the singing of the Mississippi when<br/>
   
   Abe Lincoln went down to New Orleans,<br/>
   And I’ve seen its muddy bosom turn all golden in the sunset.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I’ve known rivers:<br/>
   Ancient, dusky rivers,<br/>
   My soul has grown deep like the rivers.<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Langston Hughes</div>
