<h2><a id="">"AN EARTH SONG"</a></h2>

<p class="stanza">
   It’s an earth song,<br/>
   And I’ve been waiting long for an earth song.<br/>
   It’s a spring song,—<br/>
   And I’ve been waiting long for a spring song.<br/>
   </p>
<p class="stanza">
   Strong as the shoots of a new plant<br/>
   Strong as the bursting of new buds<br/>
   Strong as the coming of the first child from its mother’s<br/>
   womb.<br/>
   </p>
<p class="stanza">
   It’s an earth song,<br/>
   A body-song,<br/>
   A spring song,—<br/>
   I have been waiting long for this spring song.<br/>
   </p>
<div class="author">-Langston Hughes</div>

