<h2><a id="">"BAPTISM"</a></h2>
<p class="stanza">
   Into the furnace let me go alone;<br/>
   Stay you without in terror of the heat.<br/>
   </p>
<p class="stanza">
   I will go naked in—for thus ’tis sweet—<br/>
   Into the weird depths of the hottest zone.<br/>
   I will not quiver in the frailest bone,<br/>
   You will not note a flicker of defeat;<br/>
   My heart shall tremble not its fate to meet,<br/>
   Nor mouth give utterance to any moan.<br/>
   The yawning oven spits forth fiery spears;<br/>
   Red aspish tongues shout wordlessly my name.<br/>
   Desire destroys, consumes my mortal fears,<br/>
   Transforming me into a shape of flame.<br/>
   </p>
<p class="stanza">
   I will come out, back to your world of tears,<br/>
   A stronger soul within a finer frame.<br/>
   </p>
<div class="author">-Claude McKay</div>
