<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">Escape</a></h2>
Shadows, shadows,<br xmlns="http://www.w3.org/1999/xhtml"/>
Hug me round<br xmlns="http://www.w3.org/1999/xhtml"/>
So that I shall not be found<br xmlns="http://www.w3.org/1999/xhtml"/>
By sorrow:<br xmlns="http://www.w3.org/1999/xhtml"/>
She pursues me<br xmlns="http://www.w3.org/1999/xhtml"/>
Everywhere,<br xmlns="http://www.w3.org/1999/xhtml"/>
I can’t lose her<br xmlns="http://www.w3.org/1999/xhtml"/>
Anywhere.<br xmlns="http://www.w3.org/1999/xhtml"/>
Fold me in your black<br xmlns="http://www.w3.org/1999/xhtml"/>
Abyss,<br xmlns="http://www.w3.org/1999/xhtml"/>
She will never look<br xmlns="http://www.w3.org/1999/xhtml"/>
In this,—<br xmlns="http://www.w3.org/1999/xhtml"/>
Shadows, shadows,<br xmlns="http://www.w3.org/1999/xhtml"/>
Hug me round<br xmlns="http://www.w3.org/1999/xhtml"/>
In your solitude<br xmlns="http://www.w3.org/1999/xhtml"/>
Profound.<br xmlns="http://www.w3.org/1999/xhtml"/>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">Georgia Douglas Johnson</div>
