<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">"FRUIT OF THE FLOWER"</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   My father is a quiet man<br/>
   With sober, steady ways;<br/>
   For simile, a folded fan;<br/>
   His nights are like his days.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   My mother’s life is puritan,<br/>
   No hint of cavalier,<br/>
   A pool so calm you’re sure it can<br/>
   Have little depth to fear.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   And yet my father’s eyes can boast<br/>
   How full his life has been;<br/>
   There haunts them yet the languid ghost<br/>
   Of some still sacred sin.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   And though my mother chants of God,<br/>
   And of the mystic river,<br/>
   I’ve seen a bit of checkered sod<br/>
   Set all her flesh aquiver.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Why should he deem it pure mischance<br/>
   A son of his is fain<br/>
   To do a naked tribal dance<br/>
   Each time he hears the rain?<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Why should she think it devil’s art<br/>
   That all my songs should be<br/>
   Of love and lovers, broken heart,<br/>
   And wild sweet agony?<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Who plants a seed begets a bud,<br/>
   Extract of that same root;<br/>
   Why marvel at the hectic blood<br/>
   That flushes this wild fruit?<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">Countée Cullen</div>
