<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">“I TOO”</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I, too, sing America.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I am the darker brother.<br/>
   They send me to eat in the kitchen<br/>
   When company comes.<br/>
   But I laugh,<br/>
   And eat well,<br/>
   And grow strong.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   To-morrow<br/>
   I’ll sit at the table<br/>
   When company comes<br/>
   Nobody ’ll dare<br/>
   Say to me,<br/>
   “Eat in the kitchen”<br/>
   Then.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Besides, they’ll see how beautiful I am<br/>
   And be ashamed,—<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I, too, am America.<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">Langston Hughes</div>
