<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">"Like A Strong Tree"</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Like a strong tree that in the virgin earth<br/>
   Sends far its roots through rock and loam and clay,<br/>
   And proudly thrives in rain or time of dearth,<br/>
   When the dry waves scare rainy sprites away;<br/>
   Like a strong tree that reaches down, deep, deep,<br/>
   For sunken water, fluid underground,<br/>
   Where the great-ringed unsightly blind worms creep,<br/>
   And queer things of the nether world abound:<br/>
   So would I live in rich imperial growth,<br/>
   Touching the surface and the depth of things,<br/>
   Instinctively responsive unto both,<br/>
   Tasting the sweets of being and the stings,<br/>
   Sensing the subtle spell of changing forms,<br/>
   Like a strong tree against a thousand storms.<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Claude McKay</div>
