<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">"Song Of The Son"</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Pour, O pour that parting soul in song,<br/>
   O pour it in the saw-dust glow of night,<br/>
   Into the velvet pine-smoke air to-night,<br/>
   And let the valley carry it along,<br/>
    And let the valley carry it along.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   O land and soil, red soil and sweet-gum tree,<br/>
   So scant of grass, so profligate of pines,<br/>
   Now just before an epoch’s sun declines<br/>
   Thy son, in time, I have returned to thee,<br/>
   Thy son, I have in time returned to thee.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   In time, although the sun is setting on<br/>
   A song-lit race of slaves, it has not set;<br/>
   Though late, O soil, it is not too late yet<br/>
   To catch thy plaintive soul, leaving, soon gone,<br/>
   Leaving, to catch thy plaintive soul soon gone.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   O Negro slaves, dark purple ripened plums,<br/>
   Squeezed, and bursting in the pine-wood air,<br/>
   Passing, before they strip the old tree bare<br/>
   One plum was saved for me, one seed becomes<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   An everlasting song, a singing tree,<br/>
   Caroling softly souls of slavery,<br/>
   What they were, and what they are to me,<br/>
   Carolling softly souls of slavery.<br/>
   </p>
Profound.<br xmlns="http://www.w3.org/1999/xhtml"/>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Jean Toomer</div>
