<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">“TO SAMUEL COLERIDGE TAYLOR, UPON HEARING HIS”</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Strange to a sensing motherhood,<br/>
   Loved as a toy—not understood,<br/>
   Child of a dusky father, bold;<br/>
   Frail little captive, exiled, cold.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Oft when the brooding planets sleep,<br/>
   You through their drowsy empires creep,<br/>
   Flinging your arms through their empty space,<br/>
   Seeking the breast of an unknown face.<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Georgia Douglas Johnson</div>
