<section id="the_creation" class="JamesWeldonJohnson">
   
   
   <h2><a id="">THE CREATION</a></h2>
   A Negro Sermon<br/>
   
   <p class="stanza">
      And God stepped out on space,<br/>
      And He looked around and said,<br/>
      
      “I'm lonely
      <br/>
      
      I'll make me a world.”
      <br/>
      </p>
   
   <p class="stanza">
      And as far as the eye of God could see<br/>
      Darkness covered everything,<br/>
      Blacker than a hundred midnights<br/>
      Down in a cypress swamp.<br/>
      </p>
   
   <p class="stanza">
      Then God smiled,<br/>
      And the light broke,<br/>
      </p>
   
   
   <p class="stanza">
      And the darkness rolled up on one side,<br/>
      And the light stood shining on the other,<br/>
      And God said, “That's good!"
      <br/>
      </p>
   
   <p class="stanza">
      Then God reached out and took the light in His hands,<br/>
      And God rolled the light around in His hands<br/>
      Until He made the sun;<br/>
      And He set that sun a-blazing in the heavens.<br/>
      And the light that was left from making the sun<br/>
      
      God gathered it up in a shining ball<br/>
      And flung it against the darkness,<br/>
      Spangling the night with the moon and stars.<br/>
      Then down between<br/>
      The darkness and the light<br/>
      He hurled the world;<br/>
      And God said, “That's good,"
      <br/>
      </p>
   
   <p class="stanza">
      Then God Himself stepped down—<br/>
      And the sun was on His right hand<br/>
      And the moon was on His left;<br/>
      The stars were clustered about His head,<br/>
      And the earth was under His feet.<br/>
      And God walked, and where He trod<br/>
      His footsteps hollowed the valleys out<br/>
      And bulged the mountains up.<br/>
      </p>
   
   <p class="stanza">
      Then He stopped and looked, and saw<br/>
      That the earth was hot and barren.<br/>
      So God stepped over to the edge of the world<br/>
      And He spat out the seven seas;<br/>
      He batted His eyes, and the lightnings flashed;<br/>
      He clapped His hands, and the thunders rolled;<br/>
      And the waters above the earth came down,<br/>
      The cooling waters came down.<br/>
      </p>
   
   <p class="stanza">
      Then the green grass sprouted,<br/>
      And the little red flowers blossomed,<br/>
      The pine tree pointed his finger to the sky,<br/>
      And the oak spread out his arms,<br/>
      </p>
   
   
   <p class="stanza">
      And the lakes cuddled down in the hollows of the ground,<br/>
      And the rivers ran to the sea;<br/>
      And God smiled again,<br/>
      And the rainbow appeared,<br/>
      And curled itself around His shoulder.<br/>
      </p>
   
   <p class="stanza">
      Then God raised His arm and He waved His hand,<br/>
      Over the sea and over the land,<br/>
      And He said, “Bring forth. Bring forth.”
      <br/>
      And quicker than God could drop His hand<br/>
      Fishes and fowls<br/>
      And beasts and birds<br/>
      Swam the rivers and the seas,<br/>
      Roamed the forests and the woods,<br/>
      And split the air with their wings.<br/>
      And God said, “That's good.”
      <br/>
      </p>
   
   <p class="stanza">
      Then God walked around,<br/>
      And God looked around<br/>
      On all that He had made.<br/>
      He looked at His sun,<br/>
      And He looked at His moon,<br/>
      And He looked at His little stars;<br/>
      He looked on His world,<br/>
      With all its living things,<br/>
      And God said, “I'm lonely still.”
      <br/>
      </p>
   
   <p class="stanza">
      Then God sat down<br/>
      On the side of a hill where He could think;<br/>
      By a deep, wide river He sat down;<br/>
      With His head in His hands,<br/>
      
      God thought and thought,<br/>
      Till He thought, “I'll make me a man.”
      <br/>
      </p>
   
   <p class="stanza">
      Up from the bed of a river<br/>
      
      God scooped the clay;<br/>
      And by the bank of the river<br/>
      He kneeled Him down;<br/>
      </p>
   
   
   <p class="stanza">
      And there the great God Almighty<br/>
      Who lit the sun and fixed it in the sky,<br/>
      Who flung the stars to the most far corner of the night,<br/>
      Who rounded the earth in the middle of His hand;<br/>
      This Great God,<br/>
      Like a mammy bending over her baby,<br/>
      Kneeled down in the dust<br/>
      Toiling over a lump of clay<br/>
      Till He shaped it in His own image;<br/>
      </p>
   
   <p class="stanza">
      Then into it He blew the breath of life,<br/>
      And man became a living soul.<br/>
      Amen. Amen.<br/>
      </p>
   
   <div class="author">-James Weldon Johnson</div>
   </section>