<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">"The Black Finger"</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   I have just seen a most beautiful thing<br/>
   Slim and still,<br/>
   Against a gold, gold sky,<br/>
   A straight black cypress,<br/>
   Sensitive,<br/>
   Exquisite,<br/>
   A black finger<br/>
   Pointing upwards.<br/>
   Why, beautiful still finger, are you black?<br/>
   And why are you pointing upwards?<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Angelina Grimke</div>
