<section id="the_black_finger" class="AngelinaGrimke">
   
   <h2><a id="">"The Black Finger"</a></h2>
   
   <p class="stanza">
      I have just seen a most beautiful thing<br/>
      Slim and still,<br/>
      Against a gold, gold sky,<br/>
      A straight black cypress,<br/>
      Sensitive,<br/>
      Exquisite,<br/>
      A black finger<br/>
      Pointing upwards.<br/>
      Why, beautiful still finger, are you black?<br/>
      And why are you pointing upwards?<br/>
      </p>
   
   <div class="author">-Angelina Grimke</div>
   </section>