<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">THE ORDEAL</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Ho! my brother,<br/>
   Pass me not by so scornfully<br/>
   I’m doing this living of being black,<br/>
   Perhaps I bear your own life-pack,<br/>
   And heavy, heavy is the load<br/>
   That bends my body to the road.<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   But I have kept a smile for fate,<br/>
   I neither cry, nor cringe, nor hate,<br/>
   Intrepidly, I strive to bear<br/>
   This handicap. The planets wear<br/>
   The Maker’s imprint, and with mine<br/>
   I swing into their rhythmic line;<br/>
   I ask—only for destiny,<br/>
   Mine, not thine.<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Georgia Douglas Johnson</div>
