<h2 xmlns="http://www.w3.org/1999/xhtml"><a id="">"YOUTH"</a></h2>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   We have to-morrow<br/>
   Bright before us<br/>
   Like a flame<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   Yesterday, a night-gone thing<br/>
   A sun-down name<br/>
   </p>
<p xmlns="http://www.w3.org/1999/xhtml" class="stanza">
   And dawn to-day<br/>
   Broad arch above the road we came,<br/>
   We march!<br/>
   </p>
<div xmlns="http://www.w3.org/1999/xhtml" class="cursive">-Langston Hughes</div>
