---
title: Locke Anthology Project
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Style.css">



    </head>
    <body>

        <h1>{{ title }}</h1>

            <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="poems.html">Poems</a></li>
                <li><a href="music.html">Music</a></li>
                <li><a href="book.html">Book</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
            </nav>
    <main>
     {{ content | safe }}
     </main>
     <footer>
     <div class="footerLinks">
     <li><a href="https://github.com/ZSchleger/locke-anthology2.0">Locke Anthology Remake Github </a></li>
     <li><a href="https://github.com/newtfire/locke-anthology">Locke Anthology Original Github </a></li>
     <li><a href="https://archive.org/details/newnegrointerpre00unse">Locke Anthology Internet Archive </a></li>
     </footer>
    </body>
</html>