---
layout: poemLayout.njk
title: Poems
permalink: "poems.html"
---

<div id="authorButtons">
    {% for author in authors %}
    <button onclick="filterPoems('{{ author.original }}')">{{ author.withSpaces }}</button>
    {% endfor %}
</div>


<div id="poemCollection">
    {% for poem in poemAttributes %}
    <div class="poem" data-author="{{ poem.author }}">
        <iframe src="{{ poem.filePath }}"  width="100%" height="300px"></iframe>
    </div>
    </div>
    {% endfor %}
</div>

<script>
    function filterPoems(author) {
        console.log(`Filter Author Names`);
    }
    function filterPoems(authorName) {
        const poems = document.querySelectorAll('.poem');
        poems.forEach(poem => {
            if (poem.getAttribute('data-author') === authorName) {
                poem.style.display = 'block';
            } else {
                poem.style.display = 'none';
            }
        });
    }
</script>
